/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #be9e9e, #a82929);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
  }
  
  header {
    margin-bottom: 40px;
  }
  
  h1 {
    font-size: 36px;
    color: #db0606;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 500px;
  }
  
  .jogo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    width: 100%;
  }
  
  .jogo-item {
    background: #34495e;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    border: 2px solid #2c3e50;
  }
  
  .jogo-item:hover {
    background-color: #d40505;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .jogo-item h2 {
    font-size: 24px;
    font-weight: 600;
    color: #ecf0f1;
    margin-bottom: 10px;
  }
  
  .jogo-item p {
    font-size: 16px;
    color: #ecf0f1;
  }
  
  .jogo-item:active {
    transform: translateY(2px); /* Efeito de clique */
  }
  
  /* Efeito de fonte ao passar o mouse sobre o título */
  .jogo-item:hover h2 {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
    }
  
    .jogo-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }
  }
  